*
{
    margin: 0;
    padding: 0;
}

html, body, .Container
{
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

    .Container:before
    {
        content: '';
        height: 100%;
        float: right;
}

a {
        text-decoration: none;
        color:inherit;
}
    
a:link {
        text-decoration: none;
}

.Header
{
    background-color: white;
    overflow-y: scroll;
    height: 5%;
    margin-bottom: 0%;
    margin-top: 3px;
    overflow: hidden;
}

.navi{
    display: flex;
    flex-direction: row;
    width: 50%;
}

#home {
    font-size: 3.4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 10%;
    background-image: linear-gradient(to right, transparent 50%, yellow 50%);
    background-origin: 0;
    background-size: 200% 50%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: background-position 0.5s;
}

#home:hover {
    background-position: -100% 100%;
}

#work {
    font-size: 3.4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to right, transparent 50%, yellow 50%);
    background-origin: 0;
    background-size: 200% 50%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: background-position 0.5s;
    margin: 50px;
}

#work:hover {
    background-position: -100% 100%;
}

#about {
    font-size: 3.4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to right, transparent 50%, yellow 50%);
    background-origin: 0;
    background-size: 200% 50%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: background-position 0.5s;
}

#about:hover {
    background-position: -100% 100%;
}

.Content
{
    position: relative;
    z-index: 1;
}
    .Content:after
    {
        content: '';
        clear: both;
        display: block;
    }

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.LeftContent{
    overflow: auto;
    margin-top: 0%;
}

.intro {
    margin: 2%;
    color:black;
}

#hello{
    font-size: 5vh;
    font-size: 3vw;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:black;

}

#name {
    font-size: 15vh;
    font-size: 9vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.first {
    height: 33%;
    margin: 2%;
    margin-top: 4vh;
}

.firstpic{
    background-color: yellow;
}

#lecture {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0%;
    transition: 0.5s ease;
}

.firsttext {
    margin-top: 1vh
}

#firsttext {
    font-size: 2.25vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 0.5s ease;

}

.first:hover .firstpic #lecture{
    opacity: 70%;
    transition: 0.5s ease;
}

.first:hover .firsttext #firsttext{
    font-size: 3vh;
    transition: 0.5s ease;
}

.second {
    height: 33%;
    margin: 2%;
}

.secondpic{
    background-color: yellow;
}

#alike {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0%;
    transition: 0.5s ease;
}

.secondtext {
    margin-top: 1vh
}

#secondtext {
    font-size: 2.25vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 0.5s ease;

}

.second:hover .secondpic #alike{
    opacity: 70%;
    transition: 0.5s ease;
}

.second:hover .secondtext #secondtext{
    font-size: 3vh;
    transition: 0.5s ease;
}

.third {
    height: 33%;
    margin: 2%;
}

.thirdpic{
    background-color: yellow;
}

#hiki {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0%;
    transition: 0.5s ease;
}

.thirdtext {
    margin-top: 1vh
}

#thirdtext {
    font-size: 2.25vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 0.5s ease;

}

.third:hover .thirdpic #hiki{
    opacity: 70%;
    transition: 0.5s ease;
}

.third:hover .thirdtext #thirdtext{
    font-size: 3vh;
    transition: 0.5s ease;
}

.fourth {
    height: 33%;
    margin: 2%;
}

.fourthpic{
    background-color: yellow;
}

#poster {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0%;
    transition: 0.5s ease;
}

.fourthtext {
    margin-top: 1vh
}

#fourthtext {
    font-size: 2.25vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 0.5s ease;

}

.fourth:hover .fourthpic #poster{
    opacity: 70%;
    transition: 0.5s ease;
}

.fourth:hover .fourthtext #fourthtext{
    font-size: 3vh;
    transition: 0.5s ease;
}

.fifth {
    height: 33%;
    margin: 2%;
}

.fifthpic{
    background-color: yellow;
}

#dinnerplate {
    height: 80%;
    width: 100%;
    object-fit:cover;
    object-position: 25% 50%;
    transition: 0.5s ease;
}

.fifthtext {
    margin-top: 1vh
}

#fifthtext {
    font-size: 2.25vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 0.5s ease;

}

.fifth:hover .fifthpic #dinnerplate{
    opacity: 70%;
    transition: 0.5s ease;
}

.fifth:hover .fifthtext #fifthtext{
    font-size: 3vh;
    transition: 0.5s ease;
}

.sixth {
    height: 33%;
    margin: 2%;
}

.sixthpic{
    background-color: yellow;
}

#generation {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: 0 51%;
    transition: 0.5s ease;
}

.sixthtext {
    margin-top: 1vh
}

#sixthtext {
    font-size: 2.25vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 0.5s ease;

}

.sixth:hover .sixthpic #generation{
    opacity: 70%;
    transition: 0.5s ease;
}

.sixth:hover .sixthtext #sixthtext{
    font-size: 3vh;
    transition: 0.5s ease;
}

.dcimhome {
    height: 33%;
    margin: 2%;
    margin-top: 4vh;
}

.dcimpic{
    background-color: yellow;
}

#dcim {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0%;
    transition: 0.5s ease;
}

.dcimtext {
    margin-top: 1vh
}

#dcimtext {
    font-size: 2.25vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 0.5s ease;

}

.dcimhome:hover .dcimpic #dcim{
    opacity: 70%;
    transition: 0.5s ease;
}

.dcimhome:hover .dcimtext #dcimtext{
    font-size: 3vh;
    transition: 0.5s ease;
}

.RightContent
{
    background-color: orange;
    float: Left;
    margin-left: 10px;
    width: 50%;
    margin-left: 0%;
    position: relative;
}

.RightContent:after
{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#leftgif {
    position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}


.LeftContent::-webkit-scrollbar {
    width: 10px;
}
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    
}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 
   
}

