body {
	background-color: lightblue;
	color: white;
	margin:90px;
	text-align:center;
}
h1{
	font-size: 50px;
	color: red;
}
h2{
	font-size: 50px;
	color: red;
}
h3{
 font-size: 50px;
	color: red;	
}
}
.question1 {
	font-size: 50px;
	font-family: sans-serif;
	text-align:left;
	margin-right:255px;

}
#timeless{
	font-size: 30px;
	font-family: sans-serif;
	text-align:right;
	margin-left:255px;
}
#tech{
	font-size: 30px;
	font-family: sans-serif;
	text-align:left;
	margin-left:90px;
}
#quote{
	background-color: teal;
	height: 100px;
	width: 100px;
	padding: 150px;
	border-radius: 50%;
	position: absolute;
	top: 900px;
	right: 650px;
}
